/* Light blue background for the main page */
body{
  background-color: #fcfcff !important;  /* AliceBlue */
}

/* Light blue background for the navbar */
.navbar {
  background-color: #e6e6fc !important;  /* AliceBlue */
}

/* Banner background purple */
.quarto-title-banner {
  background-color: #00008B !important;
}

/* Banner text white */
.quarto-title-banner h1,
.quarto-title-banner .title {
  color: white !important;
}


/* Default tag style (for light background) */
.listing-category,
.quarto-category {
  background-color: #e9ecef;  /* light grey */
  color: #333;
  border-radius: 999px;
  padding: 0.2rem 0.6rem;
  font-size: 0.85rem;
  border: none;
}

/* Tag inside banner (for darker bg / on purple) */
.quarto-title-banner .listing-category,
.quarto-title-banner .quarto-category {
  background-color: white;   /* white pill */
  color: #3C0D6E;            /* purple text */
  font-weight: 600;
}


/* Hover effect for category/tag label */
.listing-category:hover,
.quarto-category:hover {
  background-color: #ffc8c2;  /* soft lavender */
  color: #3C0D6E;             /* purple text */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.listing-title a:hover {
  color: black;
}

.listing-description a:hover {
  color: black;
}

.navbar{ box-shadow:0 2px 8px rgba(0,0,0,.06); }
img{ border-radius:12px; }
