body {
  background-color: #e6d7c3;
  background-image: url("images/paper-bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
}

.navbar {
  background-color: #f9f0e4 !important;
}

.quarto-title-banner {
  background-color: #664e2a !important;
}

.quarto-title-banner h1,
.quarto-title-banner .title {
  color: white !important;
}

.listing-category,
.quarto-category {
  background-color: #f5e5ce;
  color: #664e2a;
  border-radius: 999px;
  padding: 0.2rem 0.6rem;
  font-size: 0.85rem;
  border: none;
}

.quarto-title-banner .listing-category,
.quarto-title-banner .quarto-category {
  background-color: white;
  color: #664e2a;
  font-weight: 600;
}

.navbar-container a:hover {
  color: black ;
}

.listing-category:hover,
.quarto-category:hover {
  background-color: #e0c9a6;  /* soft lavender */
  color: #664e2a;             /* purple text */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.listing-title a:hover {
  color: black;
}

.listing-description a:hover {
  color: black;
}

.navbar{ box-shadow:0 2px 8px rgba(0,0,0,.06); }
img{ border-radius:15px; }

nav#TOC a:hover {
  color: #704608 !important ;
  font-weight: 600;
}

nav#TOC a.active {
  color: #704608 !important ;
  font-weight: 600;
  border-left: 3px solid orange;
  padding-left: 6px;
}
